<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DotMatrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D1281881C726BB1000A8B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D12819F1C726BB1000A8B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D1281AA1C726BB1000A8B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
